@import "../../variables.scss";

.navigation {
  min-height: 74px;
  background-color: $grey;
  color: white;
  top: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 10000;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 15px;

    // +.container {
    //   width: 80%;
    //   margin: 0 auto;
    //   // margin-top: 90px;
    //   color: $text;

    // }

    a.logo {
      display: flex;
      flex-direction: row;
      border: none;
      background-color: inherit;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      color: $light;

      >i {
        margin-left: 5px;
        text-decoration: none;

        &:hover {
          color: $light;
          text-decoration: none;
        }
      }
    }

    a {
      margin: 0 5px;
      border-radius: 5px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      // background-color: var(--icon-bg);
      color: $light;
      text-decoration: none;

      .Switchmode {
        :hover {
          opacity: 1;
          text-decoration: none;
        }
      }

      :visited {
        color: $white;
      }

      :hover {
        opacity: .5;
        color: #1D1F29;
        text-decoration: none;
      }
    }

  }


}