// $light: #369;
// $head-light: #313131;
// $grey: #f5f5f7;
// $skill-grey: #c7d0ff;
// $dark: #fbfbfd;
// $light-purple: #f8f8f8;
// $shadow: -1px 3px 12px 0px #8b8b8b21;
// $icon-bg: rgba(209, 209, 209, 0.233);
// $input: #eeeeee;
// $light-purple: #6d83f2;
// $shadow: none;
// $theme: #eeeeee;
// $gradient: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
// $gradient-light: linear-gradient(99deg, #6a98f0 0%, #4961dc 130%);
// $gradient-grey: $gradient;
// $input: #f0f0f0;
// $content: #f5f5f7;
// $text: #369;
// $white: #fff;
// $base-color: #c6538c;

$white: #f8f8f8;
$light: #f8f8f8;
$head-light: #f8f8f8;
$grey: #232323;
$gradient-grey: #232323;
$skill-grey: #272727;
$theme: #369;
$dark: #000;
$purple: #6d83f2;
$icon-bg: #5555556e;
$content: #f5f5f7;
$text: #313131;